@media screen and (max-width: 1400px) {
  .about-header .container .about-left h1 {
    font-size: 55px !important;
  }
  .about-header .container .about-right .about-c {
    position: absolute;
    bottom: -30px !important;
    right: -30px !important;
  }
}
@media screen and (max-width: 1200px) {
  .about-header {
    overflow: hidden;
  }
  .about-header .container .about-left h1 {
    font-size: 45px !important;
    line-height: 52px !important;
  }
}
@media screen and (max-width: 992px) {
  .about-header .container .about-left h1 {
    font-size: 35px !important;
    line-height: 52px !important;
  }
  .about-header .container .about-left p {
    width: 100% !important;
  }
}
@media screen and (max-width: 992px) {
  .about-header .container {
    flex-wrap: wrap;
  }
  .about-header .container .about-left {
    width: 100% !important;
  }
  .about-header .container .about-left h1 {
    font-size: 35px !important;
    line-height: 52px !important;
  }
  .about-header .container .about-left p {
    width: 100% !important;
  }
  .about-header .container .about-right {
    width: 100% !important;
    margin-top: 50px;
  }
}
@media screen and (max-width: 550px) {
  .about-header .container .about-right {
    width: 100% !important;
    margin-top: 50px;
    height: 550px;
  }
  .about-header .container .about-right .bacground-about {
    height: 550px;
  }
}
@media screen and (max-width: 450px) {
  .about-header .container .about-right {
    height: 470px;
  }
  .about-header .container .about-right .bacground-about {
    height: 470px;
  }
}
@media screen and (max-width: 400px) {
  .about-header .container .about-right {
    height: 430px;
  }
  .about-header .container .about-right .bacground-about {
    height: 430px;
  }
}
@media screen and (max-width: 300px) {
  .about-header .container .about-left h1 {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  .about-header .container .about-left p {
    width: 100% !important;
  }
}
@media screen and (max-width: 1200px) {
  .about-feature .container .about-future-bottom .about-item1,
  .about-feature .container .about-future-bottom .about-item2,
  .about-feature .container .about-future-bottom .about-item3,
  .about-feature .container .about-future-bottom .about-item4 {
    width: 230px !important;
  }
  .about-feature .container .about-future-bottom .about-item1 h4,
  .about-feature .container .about-future-bottom .about-item2 h4,
  .about-feature .container .about-future-bottom .about-item3 h4,
  .about-feature .container .about-future-bottom .about-item4 h4 {
    font-size: 20px !important;
  }
  .about-feature .container .about-future-bottom .about-item1 p,
  .about-feature .container .about-future-bottom .about-item2 p,
  .about-feature .container .about-future-bottom .about-item3 p,
  .about-feature .container .about-future-bottom .about-item4 p {
    font-size: 14px;
    line-height: 20px !important;
  }
}
@media screen and (max-width: 992px) {
  .about-feature .container .about-future-bottom {
    flex-wrap: wrap;
  }
  .about-feature .container .about-future-bottom .about-item1,
  .about-feature .container .about-future-bottom .about-item2,
  .about-feature .container .about-future-bottom .about-item3,
  .about-feature .container .about-future-bottom .about-item4 {
    width: 45% !important;
    padding-top: 20px;
  }
  .about-feature .container .about-future-bottom .about-item1 h4,
  .about-feature .container .about-future-bottom .about-item2 h4,
  .about-feature .container .about-future-bottom .about-item3 h4,
  .about-feature .container .about-future-bottom .about-item4 h4 {
    font-size: 20px !important;
  }
  .about-feature .container .about-future-bottom .about-item1 p,
  .about-feature .container .about-future-bottom .about-item2 p,
  .about-feature .container .about-future-bottom .about-item3 p,
  .about-feature .container .about-future-bottom .about-item4 p {
    font-size: 14px;
    line-height: 20px !important;
  }
}
@media screen and (max-width: 550px) {
  .about-feature .container .about-future-left {
    width: 100%;
  }
  .about-feature .container .about-future-right {
    width: 100%;
  }
  .about-feature .container .about-future-right p {
    padding-top: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .about-sectionn .container .about-section-left p {
    width: 98% !important;
  }
}
@media screen and (max-width: 1030px) {
  .about-sectionn {
    overflow: hidden;
  }
  .about-sectionn .container .about-section-left h1 {
    font-size: 35px !important;
    line-height: 45px !important;
  }
}
@media screen and (max-width: 768px) {
  .about-sectionn .container {
    flex-wrap: wrap;
  }
  .about-sectionn .container .about-section-left {
    width: 100%;
  }
  .about-sectionn .container .about-section-left h1 {
    font-size: 35px !important;
    line-height: 45px !important;
  }
  .about-sectionn .container .about-section-right {
    width: 100%;
    margin-top: 40px;
  }
}
@media screen and (max-width: 450px) {
  .about-sectionn .container .about-section-right {
    height: 550px;
  }
  .about-sectionn .container .about-section-right img {
    height: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 1400px) {
  .team-section .container .team-section-cards .team-card {
    width: 260px;
    height: 400px;
  }
  .team-section .container .team-section-cards .team-hover {
    height: 200px !important;
  }
}
@media screen and (max-width: 1200px) {
  .team-section .container .team-section-cards .team-card {
    width: 230px;
    height: 370px;
  }
}
@media screen and (max-width: 992px) {
  .team-section .container .team-section-top h1 {
    font-size: 38px !important;
    width: 100% !important;
  }
  .team-section .container .team-section-top p {
    width: 100% !important;
    font-size: 16px !important;
    line-height: 25px !important;
  }
  .team-section .container .team-section-cards {
    flex-wrap: wrap;
  }
  .team-section .container .team-section-cards .team-card {
    width: 45%;
    height: 450px;
    margin-bottom: 30px;
  }
  .team-section .container .team-section-cards .team-hover {
    height: 200px !important;
  }
}
@media screen and (max-width: 500px) {
  .team-section .container .team-section-cards {
    flex-wrap: wrap;
  }
  .team-section .container .team-section-cards .team-card {
    width: 100%;
    height: 470px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .team-section .container .team-section-cards {
    margin-bottom: -100px;
  }
}