* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url(../../../team-project/Poppins/Poppins-Regular.ttf);
}
.btn-3 {
  width: 173px;
  color: #f58a07;
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  border-radius: 31px;
  background: rgba(245, 138, 7, 0.1);
  border: none;
  transition: 0.5s;
}
.btn-3:hover {
  color: black;
  background-color: white;
}

.home__cards {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 150px;
  gap: 46px;
  align-items: center;
}
.home__cards .home__card h1 {
  width: 558px;
  color: #1d3444;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.92px;
}
.home__cards .home__card p {
  width: 510px;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 14px;
  padding-bottom: 10px;
}
.home__cards .home__card button {
  width: 171px;
  border-radius: 27px;
  background: #f58a07;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  text-transform: capitalize;
  padding: 18px 19px;
  border: none;
}
.home__cards .home_card h1 {
  color: #0d1317;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -1.44px;
  padding-bottom: 24px;
  padding-left: 5px;
}
.home__cards .home_card p {
  width: 583px;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 24px;
  padding-left: 10px;
}
.home__cards .home_card ul li {
  color: #5b5b5b;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding-bottom: 8px;
}
.home__cards .home-card h1 {
  color: #0d1317;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
}
.home__cards .home-card p {
  width: 540px;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 24px;
}
.home__cards .home___card h1 {
  width: 500px;
  color: #0d1317;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  text-transform: capitalize;
}
.home__cards .home___card p {
  padding-top: 24px;
  padding-bottom: 40px;
  width: 500px;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

@media (max-width: 1200px) {
  .home__cards {
    grid-template-columns: auto;
  }
  .home__cards img {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .home__cards .home-card p,
  .home__cards .home___card p,
  .home__cards .home__card p,
  .home__cards .home_card p {
    width: 100%;
  }
  .home__cards .home-card h1,
  .home__cards .home___card h1,
  .home__cards .home__card h1,
  .home__cards .home_card h1 {
    width: 100%;
  }
  .home__cards img {
    width: 500px;
    margin: 0;
  }
}
section {
  margin-top: 100px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
section img {
  max-width: 80%;
  border-radius: 20px;
}

.section2 {
  padding: 150px;
  padding-left: 300px;
  align-items: start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}
.section2 .small__texts {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: 24px;
}
.section2 .small__texts .h1__small {
  color: #394149;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 200% */
  opacity: 0.87;
  margin-right: 24px;
}
.section2 .small__texts .h2__small {
  color: #394149;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 200% */
  opacity: 0.87;
}
.section2 .big__h1 {
  max-width: 752px;
  color: #1d3444;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  /* 112.5% */
  letter-spacing: -1.92px;
  margin-bottom: 32px;
}
.section2 p {
  max-width: 752px;
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  margin-bottom: 24px;
}
.section2 .big__h1_2 {
  margin-top: 48px;
  max-width: 752px;
  color: #0d1317;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
  margin-bottom: 24px;
}

.footer {
  width: 100%;
  background-color: #063255;
  position: relative;
}

.footer .container {
  padding-bottom: 50px;
}

.footer .container .foter-b {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .container .foter-b p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer .container .foter-b p:nth-child(2) {
  padding-right: 20px;
}

.footer .container .foter-b p:nth-child(2) span {
  padding-left: 50px;
}

.footer .container .footer-item {
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
}

.footer .container .footer-item .f-item1 {
  width: 400px;
  padding-top: 70px;
}

.footer .container .footer-item .f-item1 h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -1.08px;
  padding-top: 40px;
}

.footer .container .footer-item .f-item1 .tarmoqlar {
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding-top: 30px;
}

.footer .container .footer-item .f-item1 .tarmoqlar svg {
  cursor: pointer;
}

.footer .container .footer-item .f-item2 {
  width: 150px;
  padding-top: 70px;
}

.footer .container .footer-item .f-item2 p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer .container .footer-item .f-item2 p:nth-child(1) {
  font-size: 19px;
}

.footer .container .footer-item .f-item3 {
  width: 300px;
  padding-top: 70px;
}

.footer .container .footer-item .f-item3 p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer .container .footer-item .f-item3 p:nth-child(1) {
  font-size: 19px;
}

.footer .container .footer-item .f-item4 {
  width: 350px;
  padding-top: 70px;
}

.footer .container .footer-item .f-item4 p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer .container .footer-item .f-item4 input {
  width: 342px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 31px;
  background: #fff;
  border: none;
  outline: none;
  margin-top: 15px;
  padding-left: 28px;
}

.footer .container .footer-item .f-item4 button {
  width: 156px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 31px;
  background: #f58a07;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}

.footer .footer-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer .footer-right {
  position: absolute;
  right: 0;
  top: 50px;
}

.btn-3 {
  width: 173px;
  color: #f58a07;
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  border-radius: 31px;
  background: rgba(245, 138, 7, 0.1);
  border: none;
  transition: 0.5s;
}

.btn-3:hover {
  color: black;
  background-color: white;
}

.home__cards {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 150px;
  gap: 46px;
  align-items: center;
}

.home__cards .home__card h1 {
  width: 558px;
  color: #1d3444;
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.92px;
}

.home__cards .home__card p {
  width: 510px;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 14px;
  padding-bottom: 10px;
}

.home__cards .home__card button {
  width: 171px;
  border-radius: 27px;
  background: #f58a07;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 106.5%;
  text-transform: capitalize;
  padding: 18px 19px;
  border: none;
}

.home__cards .home_card h1 {
  color: #0d1317;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -1.44px;
  padding-bottom: 24px;
  padding-left: 5px;
}

.home__cards .home_card p {
  width: 583px;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 24px;
  padding-left: 10px;
}

.home__cards .home_card ul li {
  color: #5b5b5b;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding-bottom: 8px;
}

.home__cards .home-card h1 {
  color: #0d1317;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
}

.home__cards .home-card p {
  width: 540px;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 24px;
}

.home__cards .home___card h1 {
  width: 500px;
  color: #0d1317;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  text-transform: capitalize;
}

.home__cards .home___card p {
  padding-top: 24px;
  padding-bottom: 40px;
  width: 500px;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

@media (max-width: 1200px) {
  .home__cards {
    grid-template-columns: auto;
  }
  .home__cards img {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .home__cards .home-card p,
  .home__cards .home___card p,
  .home__cards .home__card p,
  .home__cards .home_card p {
    width: 100%;
  }
  .home__cards .home-card h1,
  .home__cards .home___card h1,
  .home__cards .home__card h1,
  .home__cards .home_card h1 {
    width: 100%;
  }
  .home__cards img {
    width: 500px;
    margin: 0;
  }
}