@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.header {
  width: 100%;
  height: 200px;
  background: #dceaf5;
  height: 703px;
}
.header .container {
  padding-top: 60px;
  display: flex;
  height: 100%;
}
.header .container .header-left {
  width: 45%;
  height: 100%;
  position: relative;
}
.header .container .header-right {
  width: 55%;
  height: 100%;
  position: relative;
}

.header-left .header-left-h1 {
  color: #1d3444;
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.92px;
  padding-top: 100px;
}
.header-left p {
  width: 571px;
  color: #5b5b5b;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.header-left .header-left-buttons {
  width: 100%;
}
.header-left .header-left-buttons .buttons-button-1 {
  width: 199px;
  height: 54px;
  border-radius: 27px;
  background: #f58a07;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%;
  text-transform: capitalize;
}
.header-left .header-left-buttons .buttons-button-2 {
  width: 199px;
  height: 54px;
  border-radius: 27px;
  background: #f58a07;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%;
  text-transform: capitalize;
  background: #dceaf5;
  color: #1d3444;
}
.header-left .worked {
  color: rgba(57, 65, 73, 0.5);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-top: 50px;
}
.header-left .logo-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.header-left .logo-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
}

.header-right {
  overflow: hidden;
}
.header-right .right-img1 {
  position: absolute;
  bottom: -10px;
  left: 85px;
}
.header-right .right-img2 {
  position: absolute;
  right: 105px;
  bottom: 0;
}
.header-right .right-img3 {
  position: absolute;
  height: 90%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
}

.help-section {
  width: 100%;
  height: 100%;
}
.help-section .container .help-section-h1 {
  color: #1d3444;
  width: 735px;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  padding-top: 130px;
}
.help-section .container .help-section-p {
  color: #5b5b5b;
  width: 735px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.help-section .container .help-section-card-wrapper {
  width: 100%;
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
  justify-content: space-between;
}
.help-section .container .help-section-card-wrapper .card-wrapper-card {
  width: 399px;
}
.help-section .container .help-section-card-wrapper .card-wrapper-card .card-w h2 {
  color: #0d1317;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 106.5%;
  letter-spacing: -0.72px;
  padding-top: 25px;
}
.help-section .container .help-section-card-wrapper .card-wrapper-card .card-w .p-w {
  color: #5b5b5b;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.help-section .container .help-section-card-wrapper .card-wrapper-card .card-w .p-w1 {
  color: #f58a07;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 106.5%;
  cursor: pointer;
}
.help-section .container .help-section-card-wrapper .card-wrapper-card .card-w .p-w1 span {
  padding-left: 5px;
}

::-webkit-scrollbar {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(174, 168, 168);
  border-radius: 10px;
  height: 200px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  cursor: pointer;
}

.feaures-section {
  width: 100%;
  background: #edf7ff;
}
.feaures-section .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.feaures-section .container .feaures-section-top {
  width: 100%;
  display: flex;
}
.feaures-section .container .feaures-section-top .section-top-left {
  width: 50%;
}
.feaures-section .container .feaures-section-top .section-top-left h1 {
  color: #0d1317;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -1.08px;
  padding: 0px 10px 0 10px;
}
.feaures-section .container .feaures-section-top .section-top-right {
  width: 50%;
}
.feaures-section .container .feaures-section-top .section-top-right p {
  color: #1d3444;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.feaures-section .feaures-section-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}
.feaures-section .feaures-section-cards .cards-card {
  width: 401px;
  height: 277px;
  border-radius: 20px;
  background: #fff;
}
.feaures-section .feaures-section-cards .cards-card .cars-w {
  width: 85%;
  margin: 0 auto;
  height: 100%;
}
.feaures-section .feaures-section-cards .cards-card .cars-w .icon {
  padding-top: 50px;
}
.feaures-section .feaures-section-cards .cards-card .cars-w h2 {
  color: #0d1317;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  padding-top: 10px;
  line-height: 106.5%;
  letter-spacing: -0.72px;
}
.feaures-section .feaures-section-cards .cards-card .cars-w p {
  color: #5b5b5b;
  font-family: "Poppins", sans-serif;
  padding-top: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.about-section {
  width: 100%;
  background: #fff;
}
.about-section .container {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-section .container .about-section-left {
  width: 50%;
}
.about-section .container .about-section-left h1 {
  color: #0d1317;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  padding-right: 50px;
  padding-top: 80px;
}
.about-section .container .about-section-left .p-w {
  color: #5b5b5b;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  padding-right: 170px;
  padding-top: 20px;
}
.about-section .container .about-section-left .section-left-bottom {
  width: 100%;
  display: flex;
  padding-top: 50px;
}
.about-section .container .about-section-left .section-left-bottom .left-left {
  width: 50%;
}
.about-section .container .about-section-left .section-left-bottom .left-left h3 {
  color: #0d1317;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%;
  letter-spacing: -0.72px;
  padding-top: 40px;
}
.about-section .container .about-section-left .section-left-bottom .left-left p {
  color: #5b5b5b;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-top: 10px;
}
.about-section .container .about-section-left .section-left-bottom .left-right {
  width: 50%;
}
.about-section .container .about-section-left .section-left-bottom .left-right h3 {
  color: #0d1317;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%;
  letter-spacing: -0.72px;
  padding-top: 40px;
}
.about-section .container .about-section-left .section-left-bottom .left-right p {
  color: #5b5b5b;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-top: 10px;
}
.about-section .container .about-section-right {
  position: relative;
  width: 50%;
  height: 690px;
  background-image: url("../../assets/images/Ja'farxon_imaags/orangimg/about.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}
.about-section .container .about-section-right .left-img {
  height: 100%;
  background: #f58a07;
  mix-blend-mode: multiply;
  border-radius: 12px 0 0 12px;
}
.about-section .container .about-section-right .right-logo {
  position: absolute;
  z-index: 5;
  right: -50px;
  top: -40px;
}

.service-section {
  width: 100%;
  padding-bottom: 100px;
}
.service-section .container {
  border-radius: 20px;
  background: #edf7ff;
  height: 682px;
}
.service-section .container .service-section-top {
  width: 100%;
  display: flex;
  padding-left: 20px;
}
.service-section .container .service-section-top .section-top-left {
  width: 50%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.service-section .container .service-section-top .section-top-left .s-left-btn1 {
  width: 194px;
  height: 40px;
  background: #fff;
  color: #f58a07;
  flex-shrink: 0;
  border-radius: 31px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  outline: none;
  border: none;
}
.service-section .container .service-section-top .section-top-left .s-left-btn2 {
  width: 155px;
  height: 40px;
  color: rgba(6, 50, 85, 0.3);
  height: 40px;
  border-radius: 31px;
  border: 1px solid #a8bccc;
  flex-shrink: 0;
  border-radius: 31px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  outline: none;
  background: #edf7ff;
}
.service-section .container .service-section-top .section-top-left .s-left-btn3 {
  width: 183px;
  height: 40px;
  color: rgba(6, 50, 85, 0.3);
  height: 40px;
  border-radius: 31px;
  border: 1px solid #a8bccc;
  flex-shrink: 0;
  border-radius: 31px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  outline: none;
  background: #edf7ff;
}
.service-section .container .service-section-top .section-top-right {
  width: 50%;
  position: relative;
}
.service-section .container .service-section-top .section-top-right img {
  position: absolute;
  top: -15px;
  right: -30px;
}
.service-section .container .service-section-bottom {
  width: 93%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.service-section .container .service-section-bottom .section-bottom-left {
  width: 45%;
}
.service-section .container .service-section-bottom .section-bottom-left p {
  color: #5b5b5b;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  padding-top: 10px;
}
.service-section .container .service-section-bottom .section-bottom-left .see {
  color: #f58a07;
}
.service-section .container .service-section-bottom .section-bottom-left .see span {
  padding-left: 10px;
}
.service-section .container .service-section-bottom .section-bottom-right {
  width: 45%;
  height: 466px;
  background-image: url("../../assets/images/Ja'farxon_imaags/orangimg/Imageser.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 22px;
}

.Cta-section {
  width: 100%;
  display: flex;
  padding-bottom: 100px;
}
.Cta-section .Cta-section-left {
  width: 50%;
  background-image: url("../../assets/images/Ja'farxon_imaags/orangimg/cta.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 518px;
}
.Cta-section .Cta-section-right {
  width: 50%;
  background: #f58a07;
  height: 518px;
}
.Cta-section .Cta-section-right div {
  padding-left: 100px;
}
.Cta-section .Cta-section-right div h1 {
  color: #fff;
  width: 532px;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  padding-top: 100px;
}
.Cta-section .Cta-section-right div button {
  width: 216px;
  height: 54px;
  border-radius: 31px;
  background: #fff;
  color: #f58a07;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border: none;
  margin-top: 30px;
}

.video-section {
  width: 100%;
  padding-bottom: 100px;
}
.video-section .container {
  display: flex;
  justify-content: space-between;
}
.video-section .container .video-left {
  width: 46%;
  padding-right: 40px;
}
.video-section .container .video-left h1 {
  color: #0d1317;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  padding-top: 80px;
}
.video-section .container .video-left p {
  color: #5b5b5b;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  padding-top: 20px;
}
.video-section .container .video-left .user {
  padding-top: 30px;
}
.video-section .container .video-right {
  width: 46%;
  position: relative;
  height: 501px;
  background-image: url("../../assets/images/Ja'farxon_imaags/orangimg/v-2.png");
  border-radius: 0 18px 18px 0;
}
.video-section .container .video-right .play {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 45px;
}
.video-section .container .video-right .play p {
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 101.8%;
  padding-left: 20px;
  padding-top: 13px;
}
.video-section .container .video-right .plays {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.latest-section {
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
  background: #dceaf5;
}
.latest-section .container .latest-section-cards {
  display: flex;
  justify-content: space-between;
}
.latest-section .container .latest-title {
  color: #0d1317;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
  text-transform: capitalize;
  padding-bottom: 50px;
}
.latest-section .container .section-card .s-card-blog {
  width: 400px;
  height: 277px;
  flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  background: #fff;
}
.latest-section .container .section-card .s-card-blog div {
  width: 85%;
  margin: 0 auto;
}
.latest-section .container .section-card .s-card-blog div h4 {
  color: #0d1317;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.72px;
  padding-top: 40px;
}
.latest-section .container .section-card .s-card-blog div p {
  color: #5b5b5b;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.footer {
  width: 100%;
  background-color: #063255;
  position: relative;
}
.footer .container {
  padding-bottom: 50px;
}
.footer .container .foter-b {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .container .foter-b p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .container .foter-b p:nth-child(2) {
  padding-right: 20px;
}
.footer .container .foter-b p:nth-child(2) span {
  padding-left: 50px;
}
.footer .container .footer-item {
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
}
.footer .container .footer-item .f-item1 {
  width: 400px;
  padding-top: 70px;
}
.footer .container .footer-item .f-item1 h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -1.08px;
  padding-top: 40px;
}
.footer .container .footer-item .f-item1 .tarmoqlar {
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding-top: 30px;
}
.footer .container .footer-item .f-item1 .tarmoqlar svg {
  cursor: pointer;
}
.footer .container .footer-item .f-item2 {
  width: 150px;
  padding-top: 70px;
}
.footer .container .footer-item .f-item2 p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .container .footer-item .f-item2 p:nth-child(1) {
  font-size: 19px;
}
.footer .container .footer-item .f-item3 {
  width: 300px;
  padding-top: 70px;
}
.footer .container .footer-item .f-item3 p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .container .footer-item .f-item3 p:nth-child(1) {
  font-size: 19px;
}
.footer .container .footer-item .f-item4 {
  width: 350px;
  padding-top: 70px;
}
.footer .container .footer-item .f-item4 p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer .container .footer-item .f-item4 input {
  width: 342px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 31px;
  background: #fff;
  border: none;
  outline: none;
  margin-top: 15px;
  padding-left: 28px;
}
.footer .container .footer-item .f-item4 button {
  width: 156px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 31px;
  background: #f58a07;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}
.footer .footer-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer .footer-right {
  position: absolute;
  right: 0;
  top: 50px;
}