@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@use "./about-medi.scss";
@use "./about.scss";
@use "./hom-medi.scss";

// Header

.header {
  width: 100%;
  background: #dceaf5;
  height: 703px;

  .container {
    padding-top: 60px;
    display: flex;
    height: 100%;
    .header-left {
      width: 45%;
      height: 100%;
      position: relative;
    }
    .header-right {
      width: 55%;
      height: 100%;
      position: relative;
    }
  }
}
@mixin customButtonStyles {
  width: 199px;
  height: 54px;
  border-radius: 27px;
  background: #f58a07;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%;
  text-transform: capitalize;
}
@mixin poppins {
  font-family: "Poppins", sans-serif;
}

.header-left {
  .header-left-h1 {
    color: #1d3444;
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.92px;
    padding-top: 100px;
  }
  p {
    width: 571px;
    color: #5b5b5b;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }
  .header-left-buttons {
    width: 100%;

    .buttons-button-1 {
      @include customButtonStyles;
    }
    .buttons-button-2 {
      @include customButtonStyles;
      background: #dceaf5;
      color: #1d3444;
    }
  }
  .worked {
    color: rgba(57, 65, 73, 0.5);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 50px;
  }
  .logo-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    img {
      object-fit: cover;
      width: 150px;
    }
  }
}

.header-right {
  overflow: hidden;
  .right-img1 {
    position: absolute;
    bottom: -10px;
    left: 85px;
  }
  .right-img2 {
    position: absolute;
    right: 105px;
    bottom: 0;
  }
  .right-img3 {
    position: absolute;
    height: 90%;
    width: 100%;
    object-fit: cover;
    bottom: 0;
  }
}

// Header

//  Help Section

.help-section {
  width: 100%;
  height: 100%;
  .container {
    .help-section-h1 {
      color: #1d3444;
      width: 735px;
      @include poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -1.44px;
      padding-top: 130px;
    }
    .help-section-p {
      color: #5b5b5b;
      width: 735px;
      @include poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
    }
    .help-section-card-wrapper {
      width: 100%;
      display: flex;
      padding-top: 50px;
      padding-bottom: 100px;
      justify-content: space-between;
      .card-wrapper-card {
        width: 399px;
        .card-w {
          h2 {
            color: #0d1317;
            @include poppins;
            font-size: 24px;
            font-weight: 500;
            line-height: 106.5%;
            letter-spacing: -0.72px;
            padding-top: 25px;
          }
          .p-w {
            color: #5b5b5b;
            @include poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
          }
          .p-w1 {
            color: #f58a07;
            @include poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 106.5%;
            cursor: pointer;
            span {
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
}

// Help Section

// Feaures Section
.feaures-section {
  width: 100%;
  background: #edf7ff;
  .container {
    padding-top: 100px;
    padding-bottom: 100px;

    .feaures-section-top {
      width: 100%;
      display: flex;
      .section-top-left {
        width: 50%;
        h1 {
          color: #0d1317;
          @include poppins;
          font-size: 36px;
          font-weight: 600;
          line-height: 44px;
          letter-spacing: -1.08px;
          padding: 0px 10px 0 10px;
        }
      }
      .section-top-right {
        width: 50%;
        p {
          color: #1d3444;
          @include poppins;
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
        }
      }
    }
  }

  .feaures-section-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    .cards-card {
      width: 401px;
      height: 277px;
      border-radius: 20px;
      background: #fff;
      .cars-w {
        width: 85%;
        margin: 0 auto;
        height: 100%;
        .icon {
          padding-top: 50px;
        }
        h2 {
          color: #0d1317;
          @include poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          padding-top: 10px;
          line-height: 106.5%;
          letter-spacing: -0.72px;
        }
        p {
          color: #5b5b5b;
          @include poppins;
          padding-top: 12px;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
        }
      }
    }
  }
}

// Feaures Section

// About Section

@mixin h3 {
  color: #0d1317;
  @include poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%;
  letter-spacing: -0.72px;
}
@mixin p {
  color: #5b5b5b;
  @include poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.about-section {
  width: 100%;
  background: #fff;
  .container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    .about-section-left {
      width: 50%;
      h1 {
        color: #0d1317;
        @include poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -1.44px;
        padding-right: 50px;
        padding-top: 80px;
      }
      .p-w {
        color: #5b5b5b;
        @include poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        padding-right: 170px;
        padding-top: 20px;
      }
      .section-left-bottom {
        width: 100%;
        display: flex;
        padding-top: 50px;
        justify-content: space-between;
        .left-left {
          width: 48%;
          margin-right: 10px;

          h3 {
            @include h3;
            padding-top: 40px;
          }
          p {
            @include p;
            padding-top: 10px;
            text-align: left;
          }
        }
        .left-right {
          width: 48%;
          margin-left: 10px;
          h3 {
            @include h3;
            padding-top: 40px;
          }
          p {
            @include p;
            padding-top: 10px;
            text-align: left;
          }
        }
      }
    }
    .about-section-right {
      position: relative;
      width: 50%;
      height: 690px;
      flex-shrink: 0;
      // background-image: url("../../assets/images/Ja'farxon_imaags/orangimg/about.png");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 12px;
      .a-b {
        max-width: 100%;
        height: 500px;
        object-fit: cover;
        height: 690px;
        border-radius: 12px;
      }
      .left-img {
        height: 100%;
        background: #f58a07;
        mix-blend-mode: multiply;
        border-radius: 12px 0 0 12px;
        position: absolute;
        left: 0;
      }
      .right-logo {
        position: absolute;
        z-index: 5;
        right: -50px;
        top: -40px;
      }
    }
  }
}

// About Section

// Service Section
@mixin btn {
  flex-shrink: 0;
  border-radius: 31px;
  @include poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  outline: none;
}
.service-section {
  width: 100%;
  padding-bottom: 100px;

  .container {
    border-radius: 20px;
    background: #edf7ff;
    height: 682px;
    .service-section-top {
      width: 100%;
      display: flex;
      padding-left: 20px;
      .section-top-left {
        width: 50%;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .s-left-btn1 {
          width: 194px;
          height: 40px;
          background: #fff;
          color: #f58a07;
          @include btn;
          border: none;
        }
        .s-left-btn2 {
          width: 155px;
          height: 40px;
          color: rgba(6, 50, 85, 0.3);
          height: 40px;
          border-radius: 31px;
          border: 1px solid #a8bccc;
          @include btn;
          background: #edf7ff;
        }
        .s-left-btn3 {
          width: 183px;
          height: 40px;
          color: rgba(6, 50, 85, 0.3);

          height: 40px;
          border-radius: 31px;
          border: 1px solid #a8bccc;
          @include btn;
          background: #edf7ff;
        }
      }
      .section-top-right {
        width: 50%;
        position: relative;
        img {
          position: absolute;
          top: -15px;
          right: -30px;
        }
      }
    }
    .service-section-bottom {
      width: 93%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .section-bottom-left {
        width: 45%;
        p {
          color: #5b5b5b;
          @include poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px;
          padding-top: 10px;
        }
        .see {
          color: #f58a07;
          span {
            padding-left: 10px;
          }
        }
      }
      .section-bottom-right {
        position: relative;
        width: 45%;
        height: 466px;
        border-radius: 22px;

        .servir-bg {
          width: 100%;
          height: 100%;
          max-width: 100%;
          flex-shrink: 0;
          object-fit: cover;
          border-radius: 22px;
        }
        .s-left {
          mix-blend-mode: multiply;
          position: absolute;
          top: 0 !important;
          left: 0;
        }
      }
    }
  }
}

// Service Section

// CTA Section

.Cta-section {
  width: 100%;
  display: flex;
  padding-bottom: 100px;
  .Cta-section-left {
    width: 50%;
    // background-image: url("../../assets/images/Ja'farxon_imaags/orangimg/cta.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 518px;
    flex-shrink: 0;

    img {
      width: 100%;
      object-fit: cover;
      height: 518px;
      max-width: 100%;
      flex-shrink: 0;
      object-fit: cover;
    }
  }
  .Cta-section-right {
    width: 50%;
    background: #f58a07;
    height: 518px;
    div {
      padding-left: 100px;
      h1 {
        color: #fff;
        width: 532px;
        @include poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -1.44px;
        padding-top: 100px;
      }
      button {
        width: 216px;
        height: 54px;
        border-radius: 31px;
        background: #fff;
        color: #f58a07;
        @include poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        border: none;
        margin-top: 30px;
      }
    }
  }
}

// CTA Section

// Video Section

.video-section {
  width: 100%;
  padding-bottom: 100px;
  .container {
    display: flex;
    justify-content: space-between;
    .video-left {
      width: 46%;
      padding-right: 40px;
      h1 {
        color: #0d1317;
        @include poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -1.44px;
        padding-top: 80px;
      }
      p {
        color: #5b5b5b;
        @include poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        padding-top: 20px;
      }
      .user {
        padding-top: 30px;
      }
    }

    .video-right {
      width: 46%;
      position: relative;
      height: 501px;
      // background-image: url("../../assets/images/Ja'farxon_imaags/orangimg/v-2.png");
      border-radius: 0 18px 18px 0;
      max-width: 100%;
      .video-bg {
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        border-radius: 18px;
      }

      .play {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 40px;
        left: 45px;
        p {
          color: #fff;
          font-family: sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 101.8%;
          padding-left: 20px;
          padding-top: 13px;
        }
      }
      .plays {
        background-color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
// Video Section

// Latest Section

.latest-section {
  width: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
  background: #dceaf5;
  .container {
    .latest-section-cards {
      display: flex;
      justify-content: space-between;
    }
    .latest-title {
      color: #0d1317;
      @include poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 56px; /* 116.667% */
      letter-spacing: -1.44px;
      text-transform: capitalize;
      padding-bottom: 50px;
    }
    .section-card {
      .s-card-blog {
        width: 400px;
        height: 277px;
        flex-shrink: 0;
        border-radius: 0px 0px 20px 20px;
        background: #fff;
        div {
          width: 85%;
          margin: 0 auto;

          h4 {
            color: #0d1317;
            @include poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: -0.72px;
            padding-top: 40px;
          }
          p {
            color: #5b5b5b;
            @include poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
          }
        }
      }
    }
  }
}

// Latest Section

// Footer

.footer {
  width: 100%;
  background-color: #063255;
  position: relative;
  .container {
    padding-bottom: 50px;
    .foter-b {
      width: 100%;
      display: flex;
      justify-content: space-between;
      p {
        color: #fff;
        @include poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      p:nth-child(2) {
        padding-right: 20px;
        span {
          padding-left: 50px;
        }
      }
    }
    .footer-item {
      display: flex;
      padding-bottom: 50px;
      justify-content: space-between;
      .f-item1 {
        width: 400px;
        padding-top: 70px;
        h1 {
          color: #fff;
          @include poppins;
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: 44px;
          letter-spacing: -1.08px;
          padding-top: 40px;
        }
        .tarmoqlar {
          display: flex;
          width: 150px;
          justify-content: space-between;
          padding-top: 30px;
          svg {
            cursor: pointer;
          }
        }
      }
      .f-item2 {
        width: 150px;
        padding-top: 70px;

        p {
          color: #fff;
          @include poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        p:nth-child(1) {
          font-size: 19px;
        }
      }
      .f-item3 {
        width: 300px;
        padding-top: 70px;
        p {
          color: #fff;
          @include poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        p:nth-child(1) {
          font-size: 19px;
        }
      }
      .f-item4 {
        width: 350px;
        padding-top: 70px;
        p {
          color: #fff;
          @include poppins;
          font-size: 19px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        input {
          width: 342px;
          height: 54px;
          flex-shrink: 0;
          border-radius: 31px;
          background: #fff;
          border: none;
          outline: none;
          margin-top: 15px;
          padding-left: 28px;
        }
        button {
          width: 156px;
          height: 54px;
          flex-shrink: 0;
          border-radius: 31px;
          background: #f58a07;
          border: none;
          outline: none;
          color: white;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          @include poppins;
          margin-top: 20px;
        }
      }
    }
  }
  .footer-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer-right {
    position: absolute;
    right: 0;
    top: 50px;
  }
}

// Footer
